


  <h3>  Donate us Here  </h3>

<div class="container-fluid">

    
 <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)" #vazhipadForm="ngForm">
              
             <div class="row"> 

                  <div class="col-md-2">
                                          <div class="form-group" > 
    
                                               <label for="">Select Donation type</label>
                                               <select class="bookuser" formControlName="donationtype" id="donationtype">
                                               <option *ngFor="let type of types" [value]="type">{{type}}</option>
                                               </select>

                                          </div> 
                  </div>
                 

                          <div class="col-md-2">
                                  <div class="form-group" >
                                              <label for="">Name</label>
                                              <input type="text" class="form-control" formControlName="name">
                                  </div>
                         </div>   

                         <div class="col-md-3">
                                  <div class="form-group" >
                                              <label for="">Address</label>
                                              <textarea rows="4" cols="40" formControlName="address">
                                                    Enter Address here...</textarea>
       
                                  </div>
                         </div>   

                         <div class="col-md-2">
                                  <div class="form-group" >
                                              <label for="">Phone Number</label>
                                              <input type="tel" class="form-control" formControlName="phonenumber">
                                  </div>
                         </div>   

                         <div class="col-md-2">
                                  <div class="form-group" >
                                              <label for="">Amount</label>
                                              <input type="number" class="form-control" formControlName="amount">
                                  </div>
                         </div>   

             </div>



                                 <button type="button" class="btn btn-default"(click)="makedonation()">
                                         <span class="glyphicon glyphicon-grain"></span> Donate
                                 </button>

  </form>


 </div>

