<h2>

Make a vazhipad

</h2>




   <div class="container">
        <div  [hidden]="submitted">
   
            <form *ngIf="active" (ngSubmit)="onSubmit()" #heroForm="ngForm">
                <div class="form-group" >
                   <label for="quantity">Quantity</label>
                   <input type="number" class="qty-control"  id="quantity" required [(ngModel)]="model.quantity" name="quantity" #name="ngModel" >
               </div>


 <div class="row">

                  <div class="form-group" >

                             <label for="pooja_name">PoojaName</label>
                             <select class="poojaname-control" id="pooja_name"
                                             required
                                             [(ngModel)]="model.pooja_name" name="pooja_name" 
                                             #pooja_name="ngModel" >
                             <option *ngFor="let hero of vazhipads" [value]="hero.NAME">{{hero.NAME}}</option>
                              </select>
                   

         
                            
                                <label for="devotee_name">Devoteename</label>
                                <input type="text" class="poojaname-control" id="devotee_name" required
                                      [(ngModel)]="model.devotee_name" name="devotee_name" >
                              


                        
                          <label for="devotee_star">Devotee Star</label>
                          <select class="poojaname-control" id="devotee_star"
                                  required
                                  [(ngModel)]="model.devotee_star" name="devotee_star" 
                                  #devotee_star="ngModel" >
                            <option *ngFor="let star of stars" [value]="star">{{star}}</option>
                          </select>
                          
      
 


                      
                          <label for="rate">Rate</label>
                          <input type="number" class="qty-control" id="rate"
                                required
                                [(ngModel)]="model.rate" name="rate"
                                #name="ngModel" >
        
      


                    
                      <label for="amount">Amount</label>
                      <input type="amount" class="qty-control" id="amount"
                            required
                            [(ngModel)]="model.rate*model.quantity" name="amount"
                            #name="ngModel" >
                    



                    
                      <label for="party">Party</label>
                      <input type="number" class="qty-control" id="party"
                            required
                            [(ngModel)]="model.party" name="party"
                            #name="ngModel" >
        
      
          
         
                                                <span>
                                                    <button type="button" class="btn btn-xs" (click)="addform()" data-type="plus" >
                                                        <span class="glyphicon glyphicon-plus"></span>
                                                    </button>
                                                </span>
                  </div>
 </div>

      <button type="submit" class="btn btn-default" [disabled]="!heroForm.form.valid">Submit</button>
         </form>
</div>


  <div [hidden]="!submitted">

    
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">qty</div>
      <div class="col-xs-9  pull-left">{{ model.quantity }}</div>
    </div>
     <div class="row">
      <div class="col-xs-3">poojaname</div>
      <div class="col-xs-9 pull-left">{{ model.pooja_name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">devotea name</div>
      <div class="col-xs-9 pull-left">{{ model.devotee_name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">star</div>
      <div class="col-xs-9 pull-left">{{ model.devotee_star }}</div>
    </div>
     <div class="row">
      <div class="col-xs-3">rate</div>
      <div class="col-xs-9 pull-left">{{ model.rate }}</div>
    </div>
     <div class="row">
      <div class="col-xs-3">amount</div>
      <div class="col-xs-9 pull-left">{{ model.amount }}</div>
    </div>
     <div class="row">
      <div class="col-xs-3">party</div>
      <div class="col-xs-9 pull-left">{{ model.party }}</div>
    </div>
    <br>
    <button class="btn btn-default" (click)="postdata()">post</button>
    <button class="btn btn-default" (click)="submitted=false">Edit</button>
     
  </div>
</div>
 
  
       
  
