h3 {
  position: relative;
}
h3{

background-color: rgb(210,144,101);

}
html, body
{

	font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
background-color: #f3f3f4;
color: #676a6c;
height: 100%;
width: 100%;
}
#side-menu
{

	background-color: #2f4050;
	padding: 2px;
	margin-left: 1px;
}
#side-menu h1
{
	color: rgb(36,166,150);
	text-align: center;
	margin: 10px 0px;
	font-size: 25px;
}
.box{
	border: 2px solid rgb(151, 150, 170); 
}
.display-table
{
	display: table;
	padding: 0px;
	float: left;
	height: 100%;
	width: 100%;
}
.display-table-row
{
	display: table-row;
	height: 100%;
}
.display-table-cell
{
	display: table-cell;
	float: none;
	height: 100%;
}
.v-align
{
	vertical-align: top;
}
#nav-header
{
	background-color: #fff;
	border-bottom: 2px solid #efd;

}
#nav-header #header-search
{
	padding-top: 17px;
	vertical-align: center;
	border:none;
	width: 200px;
	outline: none;
	color: #3aa;
}
#nav-header ul
{
	margin: 0px;
	padding: 0px;
	list-style: none;
	color:#ffe;


}
#nav-header ul li
{
	float: left;
	margin-left: 15px;
	padding: 17px 0px;
}
#nav-header ul a
{
	text-decoration: none;

}
#nav-header .logout
{
	color: blue;
}
#nav-header .logout:hover
{
	color: red;
}
#admin-footer
{
	position: absolute;
	width: 100%;
	bottom: 0px;
	background-color: #fff;
	padding: 8px;
	font-size: 12px;
	color: #d1c;

}
#side-menu ul
{
	list-style: none;
	margin: 0px;
	padding: 0px; 

}
#side-menu a
{
	text-decoration: none;
	display: block;
	padding: 12px 20px;
	font-size: 13px;
	font-weight: bold;
	color: rgb(170,170,140);
} 
#side-menu .glyphicon
{
	margin-right: 6px;
}
#side-menu a:hover
{
	background-color: #293846;
	color: #ffe;
	display: block;
}
#side-menu .active a
{
  color: #fff;
  background-color: #293846;
}
#side-menu .settings-btn
{
	
background-blend-mode: overlay;
}
#side-menu .cole li
{
	padding-left: 25px;
	padding-top: 10px;
	color: red;

	
}
#side-menu .cole a
{
color: #9fb1c2;
font-size: 12px;
padding: 0px 10px;
text-decoration: none;
display: block;

}
#side-menu .cole a:hover
{
color: #fff;
font-size: 12px;
padding: 0px 10px;

}
#side-menu .cole
{
	border-left: 4px solid gold;
	background-color: #293846;
}
#side-menu .link > ul > li
{
	padding-bottom: 10px;

}
.label-success,.label-warning
{
	background-color: rgb(24,27,75);
}
