<div>< h3>Dashboard here</h3> </div>


<div class="container-fluid display-table">
       <div class="row display-table-row">
             <div class="col-md-2 display-table-cell v-align" id="side-menu">
               <h1>Navigation</h1>
                      <ul>
                         <li class="link active">
                           <a href="dashboard">
                               <span class="glyphicon glyphicon-th" area-hidden="true"></span>
                                        <span> Dashboard </span>
                          </a>
                        </li>

                           <li class="link">
                                <a href="#collapse-post" data-toggle="collapse" area-controls="collapse-post">
                                <span class="glyphicon glyphicon-user" area-hidden="true"></span>
                                <span> Transactions </span>
                               </a>
                                <ul class="collapse cole" id="collapse-post">
                                     
                                     
                                  <li>    <a routerLink="/transaction">Vazhipad</a> </li>
                                        

                               <li><a href="Report">Report</a></li>
                              </ul>
                         </li>

                                <li class="link">
                                <a href="#collapse-comments" data-toggle="collapse" area-controls="collapse-comments">
                                <span class="glyphicon glyphicon-pencil" area-hidden="true"></span>
                                    <span> Booking </span>
                                </a>
                                <ul class="collapse cole" id="collapse-comments"> 
                                    <li>  <span class="glyphicon glyphicon-tag" area-hidden="true"></span> <a routerLink="/booking">Auditorium </a> </li>
                                   
                                    

                                    <li> <span class="glyphicon glyphicon-calendar" area-hidden="true"> </span> <a href="arti.html">Pooja Booking  </a></li>
                                </ul>
                                </li>


                                <li class="link">
                                <a href="index.html">
                                    <span class="glyphicon glyphicon-tags" area-hidden="true"></span>
                                    <span> Tags </span>
                                </a>
                                </li>





                                <li class="link settings-btn">


                                 <a href="#collapse-settings" data-toggle="collapse" area-controls="collapse-post">
                                    <span class="glyphicon glyphicon-cog" area-hidden="true"></span>
                                    <span> Account Head </span>
                                  </a>



                                  <ul class="collapse cole" id="collapse-settings">


                                    <a routerLink="/accounthead">Vazhipad Head</a>
                                        

                                    <ul><a href="arti.html">Un Approved <span class="label-warning pull-right">12</span> </a></ul>
                                </ul>
                                      
                                
                                </li>










                           </ul>
    </div>



    <div class="col-md-10 display-table-cell box v-align">
      
      <div class="row">
        <header id="nav-header" class="clearfix">
          



                  <li id="welcome" class="hidden-xs">welcome to Admin</li>
          <div class="col-md-12">
            <ul class="pull-right">
           
              <li>
                <a href="#"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <span class="label label-warning">3</span></a>
              </li>

               <li>
                <a href="#"> <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                <span class="label label-info">3</span> </a>
              </li>
              <li >
                <a href="#" class="logout"> <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                Log Out
                </a>
              </li>
            </ul>
          </div>
        </header>
      </div>
       
       <div class="row">
       <footer id="admin-footer" class="clearfix"> <div class="pull-left">Copyright &copy; 2016
        </div>     
        <div class="pull-right">prems021 </div>    
       </footer>
      
    </div>    


</div>
</div>
 <router-outlet></router-outlet>

</div>


   
   
 

   
   
 
